@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;

  color: aliceblue;
  background-color: #111111;
}

.timer-container {
  width: 100%;
  margin-top: 2rem;
  height: 100%;
}

.timer {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

/* HOME */

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;

  flex-direction: column;
  width: 100%;

  align-items: center;
}

.select-title {
  text-align: center;
  font-size: 1.5rem;
}

.select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0;
  width: 200px;
  height: 80px;
  transition: 0.2s ease;
  border-radius: 5px;
}

.select-btn:hover {
  filter: brightness(120%);
}

.on-time {
  background-color: blueviolet;
}
.tabata {
  background-color: chocolate;
}

.armrap {
  background-color: cornflowerblue;
}
