@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;

  color: aliceblue;
  background-color: #111111;
}

.timer-container {
  width: 100%;
  margin-top: 2rem;
  height: 100%;
}

#timer {
  font-size: 3rem;
  padding: 2rem 0;
}

/* HOME */

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
}

.timer-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;

  flex-direction: column;
  width: 100%;

  align-items: center;
}

.select-title {
  padding: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0;
  width: 200px;
  height: 80px;
  transition: 0.2s ease;
  border-radius: 5px;
}

.title-mode {
  font-size: 2rem;
}

.select-btn:hover {
  filter: brightness(120%);
}

.on-time {
  background-color: blueviolet;
}
.tabata {
  background-color: chocolate;
}

.armrap {
  background-color: cornflowerblue;
}

.start-btn {
  color: white;
  background-color: brown;
  text-transform: uppercase;
}
.start-btn:hover {
  filter: brightness(120%);
}

.minus,
.plus {
  cursor: pointer;
}
.minus {
  color: blue;
}
.plus {
  color: red;
}
.select-time-container {
  display: flex;
  flex-direction: column;
}

.select-time-container > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.select-time-container > p {
  text-align: center;
}

.title-second {
  text-align: center;
  margin: 10px 0;
}

.set-time-span {
  font-size: 2rem;
}

.back-btn {
  height: 50px;
  width: 150px;
  background-color: brown;
  border: 2px solid white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem !important;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}
.back-btn:hover {
  filter: brightness(120%);
}

.back-menu > i {
  font-size: 3rem !important;
}

.back-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.2s ease;
}

.back-menu:hover {
  color: white;
  background-color: black;
}

.armrap-counter-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 2.5rem;
}
.count-armrap-round {
  height: 50px;
  width: 50px;
  background-color: brown;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-armrap-round:hover {
  filter: brightness(110%);
}
.round-number-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
}

.round-number {
  color: lightskyblue;
}
.round-number-total {
  color: brown;
}

.rest-time {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.6rem;
  color: lightskyblue;
  text-transform: uppercase;
  display: none;
}

.button-container {
  position: relative;

  align-items: center;
  transition: 0.2s ease;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
}

.button-container-controls {
}

.btn {
  text-transform: uppercase;
  width: 150px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 2rem;
}

.stop-btn {
  background-color: lightskyblue;
}
.reset-btn {
  background-color: lightseagreen;
}

.stop-btn,
.reset-btn:hover {
  filter: brightness(110%);
}
